@model Product

<div id="TamSayfaYeniUrunBir" class="TamSayfaYeniUrunSinirlamaAlani">
	<div class="TamSayfaYeniUrunResmiDisCercevesi">
		<a href="Urun-Detay.html" target=""><img src="Resimler/UrunResimleri/Erkek/1-1.jpg" border="0" alt="" title=""></a>
	</div>
	<div class="TamSayfaYeniUrunUstBaslikMetni">
		<a href="Urun-Detay.html" target="">@Model.Category.CategoryName</a>
	</div>
	<div class="TamSayfaYeniUrunAltBaslikMetni">
		<a href="Urun-Detay.html" target="">@Model.ProductName</a>
	</div>
	<div class="TamSayfaYeniUrunPuanYildizlariAlani">
		<a href="Urun-Detay.html" target=""><img src="Resimler/YildizDortDolu.png" border="0" alt="" title=""></a>
	</div>
	<div class="TamSayfaYeniUrunFiyatlariAlani">
		<span class="TamSayfaUzeriCiziliYeniUrunFiyati">
			<a href="Urun-Detay.html" target=""><del>200,00</del></a>
		</span>
		<span class="TamSayfaYeniUrunFiyati">
			<a href="Urun-Detay.html" target="">@Model.Price</a>
		</span>
	</div>
</div>

<div id="TamSayfaYeniUrunIki" class="TamSayfaYeniUrunSinirlamaAlani">
	<div class="TamSayfaYeniUrunResmiDisCercevesi">
		<a href="Urun-Detay.html" target=""><img src="Resimler/UrunResimleri/Kadin/1-1.jpg" border="0" alt="" title=""></a>
	</div>
	<div class="TamSayfaYeniUrunUstBaslikMetni">
		<a href="Urun-Detay.html" target="">@Model.Category.CategoryName</a>
	</div>
	<div class="TamSayfaYeniUrunAltBaslikMetni">
		<a href="Urun-Detay.html" target="">@Model.ProductName</a>
	</div>
	<div class="TamSayfaYeniUrunPuanYildizlariAlani">
		<a href="Urun-Detay.html" target=""><img src="Resimler/YildizBesDolu.png" border="0" alt="" title=""></a>
	</div>
	<div class="TamSayfaYeniUrunFiyatlariAlani">
		<span class="TamSayfaUzeriCiziliYeniUrunFiyati">
			<a href="Urun-Detay.html" target=""><del>800,00</del></a>
		</span>
		<span class="TamSayfaYeniUrunFiyati">
			<a href="Urun-Detay.html" target="">@Model.Price</a>
		</span>
	</div>
</div>

<div id="TamSayfaYeniUrunUc" class="TamSayfaYeniUrunSinirlamaAlani">
	<div class="TamSayfaYeniUrunResmiDisCercevesi">
		<a href="Urun-Detay.html" target=""><img src="Resimler/UrunResimleri/Cocuk/1-1.jpg" border="0" alt="" title=""></a>
	</div>
	<div class="TamSayfaYeniUrunUstBaslikMetni">
		<a href="Urun-Detay.html" target="">@Model.Category.CategoryName</a>
	</div>
	<div class="TamSayfaYeniUrunAltBaslikMetni">
		<a href="Urun-Detay.html" target="">@Model.ProductName</a>
	</div>
	<div class="TamSayfaYeniUrunPuanYildizlariAlani">
		<a href="Urun-Detay.html" target=""><img src="Resimler/YildizBirDolu.png" border="0" alt="" title=""></a>
	</div>
	<div class="TamSayfaYeniUrunFiyatlariAlani">
		<span class="TamSayfaUzeriCiziliYeniUrunFiyati">
			<a href="Urun-Detay.html" target=""><del>170,00</del></a>
		</span>
		<span class="TamSayfaYeniUrunFiyati">
			<a href="Urun-Detay.html" target="">@Model.Price</a>
		</span>
	</div>
</div>

<div id="TamSayfaYeniUrunDort" class="TamSayfaYeniUrunSinirlamaAlani">
	<div class="TamSayfaYeniUrunResmiDisCercevesi">
		<a href="Urun-Detay.html" target=""><img src="Resimler/UrunResimleri/Erkek/2.jpg" border="0" alt="" title=""></a>
	</div>
	<div class="TamSayfaYeniUrunUstBaslikMetni">
		<a href="Urun-Detay.html" target="">@Model.Category.CategoryName</a>
	</div>
	<div class="TamSayfaYeniUrunAltBaslikMetni">
		<a href="Urun-Detay.html" target="">@Model.ProductName</a>
	</div>
	<div class="TamSayfaYeniUrunPuanYildizlariAlani">
		<a href="Urun-Detay.html" target=""><img src="Resimler/YildizUcDolu.png" border="0" alt="" title=""></a>
	</div>
	<div class="TamSayfaYeniUrunFiyatlariAlani">
		<span class="TamSayfaUzeriCiziliYeniUrunFiyati">
			<a href="Urun-Detay.html" target=""><del>440,00</del></a>
		</span>
		<span class="TamSayfaYeniUrunFiyati">
			<a href="Urun-Detay.html" target="">@Model.Price</a>
		</span>
	</div>
</div>

<div id="TamSayfaYeniUrunBes" class="TamSayfaYeniUrunSinirlamaAlani">
	<div class="TamSayfaYeniUrunResmiDisCercevesi">
		<a href="Urun-Detay.html" target=""><img src="Resimler/UrunResimleri/Kadin/5.jpg" border="0" alt="" title=""></a>
	</div>
	<div class="TamSayfaYeniUrunUstBaslikMetni">
		<a href="Urun-Detay.html" target="">@Model.Category.CategoryName</a>
	</div>
	<div class="TamSayfaYeniUrunAltBaslikMetni">
		<a href="Urun-Detay.html" target="">@Model.ProductName</a>
	</div>
	<div class="TamSayfaYeniUrunPuanYildizlariAlani">
		<a href="Urun-Detay.html" target=""><img src="Resimler/YildizBos.png" border="0" alt="" title=""></a>
	</div>
	<div class="TamSayfaYeniUrunFiyatlariAlani">
		<span class="TamSayfaUzeriCiziliYeniUrunFiyati">
			<a href="Urun-Detay.html" target=""><del>600,00</del></a>
		</span>
		<span class="TamSayfaYeniUrunFiyati">
			<a href="Urun-Detay.html" target="">@Model.Price</a>
		</span>
	</div>
</div>