@model Product

<div id="TamSayfaYeniUrunBir" class="TamSayfaYeniUrunSinirlamaAlani">
	<div class="TamSayfaYeniUrunResmiDisCercevesi">
		<a href="Urun-Detay.html" target=""><img src="@Model.ProductImageFilePath" border="0" alt="" title=""></a>
	</div>
	<div class="TamSayfaYeniUrunUstBaslikMetni">
		<a href="Urun-Detay.html" target="">@Model.Category.CategoryName</a>
	</div>
	<div class="TamSayfaYeniUrunAltBaslikMetni">
		<a href="Urun-Detay.html" target="">@Model.ProductName</a>
	</div>
	<div class="TamSayfaYeniUrunPuanYildizlariAlani">
		<a href="Urun-Detay.html" target=""><img src="@Model.ProductRateFilePath" border="0" alt="" title=""></a>
	</div>
	<div class="TamSayfaYeniUrunFiyatlariAlani">
		<span class="TamSayfaUzeriCiziliYeniUrunFiyati">
			<a href="Urun-Detay.html" target=""><del>@Model.OldPrice</del></a>
		</span>
		<span class="TamSayfaYeniUrunFiyati">
			<a href="Urun-Detay.html" target="">@Model.Price</a>
		</span>
	</div>
</div>
